@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("../src/fonts/Inter/inter-regular-webfont.woff2") format("woff2"),
    url("../src/fonts/Inter/inter-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../src/fonts/Inter/inter-bold-webfont.woff2") format("woff2"),
    url("../src/fonts/Inter/inter-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", "Open Sans",
    "Helvetica Neue", Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
